.storyBox{
    position:absolute;
    top: 25vh;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--shadow-1);
    background: var(--bg-primary);
    .box_header{
        display: flex;
        justify-content: space-between;
    }
    .box_profile{
        display: flex;
        align-items: center;
    }
}
.storyImgIcon{
    position: relative;
    right: 250px;
}
.preview{
    width: 90%;
    object-fit: cover;
}
.update_wrap_story{
    display: flex;
    justify-content: center;
}
.story_error{
    position: absolute !important;
    top: 10 !important;
    left: 40vw !important;
}
.story_view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}
.add_story{
    z-index: 99;
}
.share_story{
    display: flex;
    flex-direction: column;
}
.story_wrap{
    width: 50vw;
    overflow-x: scroll;
    @media (max-width:1542px){
        width: 49vw;
    }
    @media (max-width:1470px){
        width:55vw
    }
    @media (max-width:1336px){
        width: 51vw;
    }
    @media (max-width:1270px){
        width: 75vw;
    }
}
